li {
    list-style: none;
}

ul {
    list-style: none;
}

.slogan {
    display: block;
    font-size: 30px;
    font-weight: lighter;
}

.hero-image {
    height: 300px;
    width: 360px;
}

.hero-lib {
    border-radius: 20px;
}

.brand-name {
    font-weight: 600;
}

.hero_profile {
    background-image: url('../images/profile_hero.png');
    width: 100%;
    height: 42vh;
    background-size: cover;
    background-position: center;
    display: flex;
}

.profile_image {
    display: flex;
    margin-top: 25vh;
    margin-left: 3%;
}

.img_profile {
    border-radius: 50%;
    height: 150px;
}